.footer{
    background-color: var(--blackColor);
    color: var(--whiteColor);
    text-align: center;
}
.footer .menu li a{
    color: var(--whiteColor);
    border-left: 1px solid var(--whiteColor);
}
.footer__copyright__link{
    color: var(--mainColor);
}